# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp311-cp311-win_amd64.whl (876 kB)
   ---------------------------------------- 0.0/876.5 kB ? eta -:--:--
   --- ------------------------------------ 71.7/876.5 kB 2.0 MB/s eta 0:00:01
   --------------- ------------------------ 337.9/876.5 kB 5.2 MB/s eta 0:00:01
   ------------------------- -------------- 553.0/876.5 kB 4.9 MB/s eta 0:00:01
   ------------------------- -------------- 563.2/876.5 kB 3.9 MB/s eta 0:00:01
   ---------------------------------------  870.4/876.5 kB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 876.5/876.5 kB 4.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ---------------------------------------- 0.0/313.6 kB ? eta -:--:--
   --------------------------------- ------ 266.2/313.6 kB 8.3 MB/s eta 0:00:01
   ---------------------------------------- 313.6/313.6 kB 6.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://mooh:adnandwikur@bigdata.elp10.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

**Insert**

In [2]:
# Contoh Insert Data
employee_data = {
    'name': 'Dani Olmo',
    'department': 'Supervisor',
    'age': 24,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted

**Insert Many**

In [41]:
# Data beberapa karyawan
employees_data = [
    {'name': 'Ferdo', 'department': 'IT', 'age': 25, 'salary': 5200},
    {'name': 'Diaz', 'department': 'IT', 'age': 25, 'salary': 4800},
    {'name': 'Icang', 'department': 'IT', 'age': 25, 'salary': 6100}
]

# Menyisipkan beberapa data sekaligus
collection.insert_many(employees_data)
print('Multiple data inserted')

Multiple data inserted

**Update**

In [30]:
#UPDATE
collection.update_one(
    {'name': 'Anthony'},                # Filter dokumen berdasarkan nama
    {'$set': {'salary': 5000}}         # Set field yang ingin diubah
)
print('Data updated')

Data updated

**UPDATE MANY**

In [ ]:
collection.update_many(
    {'department': 'Finance'},         # Filter dokumen berdasarkan departemen
    {'$mul': {'salary': 1.10}}         # Kenaikan gaji 10%
)
print('Multiple data updated')

**Delete**

In [21]:
#DELETE
collection.delete_one({'name': 'Alice'})   # Filter berdasarkan nama
print('Data deleted')

Data deleted

**DELETE MANY**

In [ ]:
collection.delete_many({'department': 'Marketing'})  # Filter berdasarkan departemen
print('Multiple data deleted')

**FIND / MENAMPILKAN**

In [3]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721fea1caa839261a882691'), 'name': 'Akbar', 'department': 'Manager', 'age': 35, 'salary': 5000}
{'_id': ObjectId('6721ff8ccaa839261a882692'), 'name': 'Anthony', 'department': 'Manager', 'age': 35, 'salary': 5000}
{'_id': ObjectId('672200a7caa839261a882693'), 'name': 'De Bruyne', 'department': 'Supervisor', 'age': 35, 'salary': 6000}
{'_id': ObjectId('672200bccaa839261a882694'), 'name': 'Dani Olmo', 'department': 'Supervisor', 'age': 24, 'salary': 4500}
{'_id': ObjectId('67220bfccaa839261a88269f'), 'name': 'Bob', 'department': 'HR', 'age': 34, 'salary': 5200}
{'_id': ObjectId('67220bfccaa839261a8826a0'), 'name': 'Carol', 'department': 'IT', 'age': 28, 'salary': 4800}
{'_id': ObjectId('67220bfccaa839261a8826a1'), 'name': 'Dave', 'department': 'Marketing', 'age': 41, 'salary': 6100}
{'_id': ObjectId('67220c2dcaa839261a8826a2'), 'name': 'Ferdo', 'department': 'IT', 'age': 25, 'salary': 5200}
{'_id': ObjectId('67220c2dcaa839261a8826a3'), 'name': 'Diaz', 'department': 'IT', 'age': 25, 'salary': 4800}
{'_id': ObjectId('67220c2dcaa839261a8826a4'), 'name': 'Icang', 'department': 'IT', 'age': 25, 'salary': 6100}
{'_id': ObjectId('6726ef00432de592cfd4512b'), 'name': 'Dani Olmo', 'department': 'Supervisor', 'age': 24, 'salary': 4500}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [28]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Manager', 'average_salary': 4750.0}
{'_id': 'Supervisor', 'average_salary': 5250.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

**LATIHAN 4.1**

In [32]:
db = client['company_db']
products_collection = db['products']

# Create a dictionary to store the employee data
products_data = [
    {'product_id': 1, 'name': 'Laptop', 'category': 'Electronics', 'price': 1500, 'stock': 20},
    {'product_id': 2, 'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 50},
    {'product_id': 3, 'name': 'Headphones', 'category': 'Electronics', 'price': 100, 'stock': 150},
    {'product_id': 4, 'name': 'Keyboard', 'category': 'Electronics', 'price': 50, 'stock': 75},
    {'product_id': 5, 'name': 'Monitor', 'category': 'Electronics', 'price': 200, 'stock': 30},
    {'product_id': 6, 'name': 'Printer', 'category': 'Office Supplies', 'price': 120, 'stock': 25},
    {'product_id': 7, 'name': 'Desk Chair', 'category': 'Furniture', 'price': 250, 'stock': 15},
    {'product_id': 8, 'name': 'Coffee Maker', 'category': 'Appliances', 'price': 80, 'stock': 40},
    {'product_id': 9, 'name': 'Water Bottle', 'category': 'Accessories', 'price': 15, 'stock': 200},
    {'product_id': 10, 'name': 'Backpack', 'category': 'Accessories', 'price': 45, 'stock': 100}
]

# Menyisipkan data produk ke dalam koleksi 'products'
products_collection.insert_many(products_data)
print('10 products inserted into the products collection')

10 products inserted into the products collection

In [33]:
for products in products_collection.find():
    print(products)

{'_id': ObjectId('67220477caa839261a882695'), 'product_id': 1, 'name': 'Laptop', 'category': 'Electronics', 'price': 1500, 'stock': 20}
{'_id': ObjectId('67220477caa839261a882696'), 'product_id': 2, 'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 50}
{'_id': ObjectId('67220477caa839261a882697'), 'product_id': 3, 'name': 'Headphones', 'category': 'Electronics', 'price': 100, 'stock': 150}
{'_id': ObjectId('67220477caa839261a882698'), 'product_id': 4, 'name': 'Keyboard', 'category': 'Electronics', 'price': 50, 'stock': 75}
{'_id': ObjectId('67220477caa839261a882699'), 'product_id': 5, 'name': 'Monitor', 'category': 'Electronics', 'price': 200, 'stock': 30}
{'_id': ObjectId('67220477caa839261a88269a'), 'product_id': 6, 'name': 'Printer', 'category': 'Office Supplies', 'price': 120, 'stock': 25}
{'_id': ObjectId('67220477caa839261a88269b'), 'product_id': 7, 'name': 'Desk Chair', 'category': 'Furniture', 'price': 250, 'stock': 15}
{'_id': ObjectId('67220477caa839261a88269c'), 'product_id': 8, 'name': 'Coffee Maker', 'category': 'Appliances', 'price': 80, 'stock': 40}
{'_id': ObjectId('67220477caa839261a88269d'), 'product_id': 9, 'name': 'Water Bottle', 'category': 'Accessories', 'price': 15, 'stock': 200}
{'_id': ObjectId('67220477caa839261a88269e'), 'product_id': 10, 'name': 'Backpack', 'category': 'Accessories', 'price': 45, 'stock': 100}

**LATIHAN 4.2**

In [35]:
# Langkah 1: Menghitung rata-rata harga semua produk
average_price_pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]

average_price_result = list(products_collection.aggregate(average_price_pipeline))
average_price = average_price_result[0]['average_price'] if average_price_result else 0

# Langkah 2: Menggunakan harga rata-rata untuk menemukan produk dengan harga di atas rata-rata
above_average_pipeline = [
    {'$match': {'price': {'$gt': average_price}}}
]

# Menampilkan hasil
for result in products_collection.aggregate(above_average_pipeline):
    print(result)

{'_id': ObjectId('67220477caa839261a882695'), 'product_id': 1, 'name': 'Laptop', 'category': 'Electronics', 'price': 1500, 'stock': 20}
{'_id': ObjectId('67220477caa839261a882696'), 'product_id': 2, 'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 50}

**LATIHAN 4.3**

In [39]:
pipeline = [
    {
        '$group': {
            '_id': '$category',               # Mengelompokkan berdasarkan kategori
            'total_products': {'$sum': 1}     # Menghitung total produk di setiap kategori
        }
    }
]

# Menjalankan pipeline dan menampilkan hasilnya
for result in products_collection.aggregate(pipeline):
    print(result)

{'_id': 'Office Supplies', 'total_products': 1}
{'_id': 'Furniture', 'total_products': 1}
{'_id': 'Appliances', 'total_products': 1}
{'_id': 'Electronics', 'total_products': 5}
{'_id': 'Accessories', 'total_products': 2}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

**TUGAS 5.1**

In [37]:
pipeline = [
    {
        '$sort': {'salary': -1}   # Mengurutkan berdasarkan gaji dari tertinggi ke terendah
    },
    {
        '$group': {
            '_id': '$department',                 # Mengelompokkan berdasarkan departemen
            'top_5_employees': {
                '$push': {
                    'name': '$name',
                    'salary': '$salary',
                    'age': '$age'
                }
            }
        }
    },
    {
        '$project': {
            'top_5_employees': {'$slice': ['$top_5_employees', 5]}  # Mengambil 5 karyawan teratas
        }
    }
]

# Menjalankan pipeline dan menampilkan hasilnya
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Supervisor', 'top_5_employees': [{'name': 'De Bruyne', 'salary': 6000, 'age': 35}, {'name': 'Dani Olmo', 'salary': 4500, 'age': 24}]}
{'_id': 'Manager', 'top_5_employees': [{'name': 'Akbar', 'salary': 5000, 'age': 35}, {'name': 'Anthony', 'salary': 5000, 'age': 35}]}

**TUGAS 5.2**

Misalkan Anda adalah administrator database di sebuah perusahaan yang ingin melakukan penyaringan karyawan berdasarkan usia. Perusahaan memutuskan untuk hanya menyimpan data karyawan yang berusia 25 tahun atau lebih. Oleh karena itu, Anda diminta untuk menghapus semua karyawan yang berusia di bawah 25 tahun dari koleksi employees dalam database.

In [4]:
# Menghapus karyawan yang berusia di bawah 25 tahun
delete_filter = {'age': {'$lt': 25}}  # Filter untuk usia di bawah 25 tahun

# Menjalankan perintah penghapusan
result = collection.delete_many(delete_filter)

# Menampilkan jumlah karyawan yang dihapus
print(f"{result.deleted_count} karyawan di bawah usia 25 tahun telah dihapus dari database.")

2 karyawan di bawah usia 25 tahun telah dihapus dari database.

**TUGAS 5.3**

In [ ]:
pipeline = [
    {
        '$group': {
            '_id': '$department',                   # Mengelompokkan berdasarkan departemen
            'total_salary': {'$sum': '$salary'},    # Menghitung total gaji di setiap departemen
            'average_age': {'$avg': '$age'}         # Menghitung rata-rata umur di setiap departemen
        }
    }
]

# Menjalankan pipeline dan menampilkan hasilnya
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'HR', 'total_salary': 5200, 'average_age': 34.0}
{'_id': 'Supervisor', 'total_salary': 6000, 'average_age': 35.0}
{'_id': 'Manager', 'total_salary': 10000, 'average_age': 35.0}
{'_id': 'Marketing', 'total_salary': 6100, 'average_age': 41.0}
{'_id': 'IT', 'total_salary': 20900, 'average_age': 25.75}